.zhuli-swiper .list {
  position: relative;
}

.zhuli-swiper .view {
  width: 100%;
}
.zhuli-swiper .view .swiper-slide {
  position: relative;
}
.zhuli-swiper .view .swiper-slide a {
  width: 100%;
  display: block;
}
.zhuli-swiper .view .swiper-slide img {
  width: 100%;
  display: block;
}
.zhuli-swiper .view .swiper-slide .txt {
  position: absolute;
  left: 0;
  top: 0;
  width: 56%;
  padding: 60px 0 60px 8%;
  border-radius: 0 0 30px 0;
  background: var(--color-primary);
}
.zhuli-swiper .view .swiper-slide .txt h5 {
  font-size: 60px;
  line-height: 1;
  color: #fff;
}
.zhuli-swiper .view .swiper-slide .txt h5 span {
  font-family: var(--font-family);
}
.zhuli-swiper .view .swiper-slide .txt p {
  font-size: 30px;
  color: #fff;
  margin: 25px 0 0;
}
.zhuli-swiper .view .swiper-slide .txt p::before {
  content: "";
  width: 52px;
  height: 5px;
  background: #fff;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.zhuli-swiper .preview {
  position: absolute;
  right: 8%;
  top: 37px;
  bottom: 150px;
  width: 270px;
  padding: 77px 0;
  z-index: 30;
  text-align: center;
  overflow: hidden;
}
.zhuli-swiper .preview .swiper {
  width: 100%;
  height: 100%;
  text-align: center;
}
.zhuli-swiper .preview .swiper-wrapper {
  height: 100%;
}
.zhuli-swiper .preview .swiper-slide {
  cursor: pointer;
  width: 100%;
  display: inline-block;
}
.zhuli-swiper .preview .swiper-slide .pic {
  border: 9px solid #fff;
  border-radius: 15px;
  overflow: hidden;
}
.zhuli-swiper .preview .swiper-slide .pic img {
  width: 100%;
}
.zhuli-swiper .preview .swiper-slide.active-nav .pic {
  border-color: var(--color-primary);
}
.zhuli-swiper .preview .arrow-left,
.zhuli-swiper .preview .arrow-right {
  background: none;
  color: #4f8c00;
  position: absolute;
  left: 0;
  right: 0;
  width: 270px;
  height: 50px;
  z-index: 10;
  text-align: center;
}
.zhuli-swiper .preview .arrow-left {
  top: 0;
}
.zhuli-swiper .preview .arrow-right {
  bottom: 0;
}
.zhuli-swiper .preview .arrow-left i,
.zhuli-swiper .preview .arrow-right i {
  color: inherit;
  font-size: 30px;
  line-height: 50px;
}
.zhuli-swiper .preview .arrow-left:hover,
.zhuli-swiper .preview .arrow-right:hover {
  color: #a6c57a;
}

@media screen and (max-width: 1800px) {
  .zhuli-swiper .view .swiper-slide .txt h5 {
    font-size: 56px;
  }
  .zhuli-swiper .preview {
    top: 30px;
    width: 250px;
    padding: 70px 0;
  }
  .zhuli-swiper .preview .swiper-slide .pic {
    border: 8px solid #fff;
  }
  .zhuli-swiper .preview .arrow-left,
  .zhuli-swiper .preview .arrow-right {
    width: 250px;
  }
}

@media screen and (max-width: 1700px) {
  .zhuli-swiper .view .swiper-slide .txt h5 {
    font-size: 54px;
  }
  .zhuli-swiper .view .swiper-slide .txt {
    padding: 50px 0 50px 6%;
  }
  .zhuli-swiper .preview {
    top: 30px;
    right: 6%;
    bottom: 140px;
    width: 240px;
    padding: 60px 0;
  }
  .zhuli-swiper .preview .swiper-slide .pic {
    border: 7px solid #fff;
  }
  .zhuli-swiper .preview .arrow-left,
  .zhuli-swiper .preview .arrow-right {
    width: 240px;
    height: 45px;
  }
  .zhuli-swiper .preview .arrow-left i,
  .zhuli-swiper .preview .arrow-right i {
    line-height: 45px;
  }
}

@media screen and (max-width: 1600px) {
  .zhuli-swiper .view .swiper-slide .txt h5 {
    font-size: 50px;
  }
  .zhuli-swiper .preview {
    width: 220px;
    padding: 55px 0;
  }
  .zhuli-swiper .preview .swiper-slide .pic {
    border: 6px solid #fff;
  }
  .zhuli-swiper .preview .arrow-left,
  .zhuli-swiper .preview .arrow-right {
    width: 220px;
    height: 40px;
  }
  .zhuli-swiper .preview .arrow-left i,
  .zhuli-swiper .preview .arrow-right i {
    line-height: 40px;
  }
}

@media screen and (max-width: 1500px) {
  .zhuli-swiper .view .swiper-slide .txt h5 {
    font-size: 48px;
  }
  .zhuli-swiper .preview {
    bottom: 100px;
  }
}

@media screen and (max-width: 1441px) {
  .zhuli-swiper .view .swiper-slide .txt h5 {
    font-size: 46px;
  }
  .zhuli-swiper .preview {
    width: 200px;
    padding: 50px 0;
  }
  .zhuli-swiper .preview .swiper-slide .pic {
    border: 5px solid #fff;
  }
  .zhuli-swiper .preview .arrow-left,
  .zhuli-swiper .preview .arrow-right {
    width: 200px;
  }
}

@media screen and (max-width: 1367px) {
  .zhuli-swiper .view .swiper-slide .txt h5 {
    font-size: 44px;
  }
}

@media screen and (max-width: 1281px) {
  .zhuli-swiper .view .swiper-slide .txt h5 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .zhuli-swiper .view .swiper-slide .txt h5 {
    font-size: 26px;
  }
  .zhuli-swiper {
    padding: 30px 0;
  }
  .zhuli-swiper .box {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .zhuli-swiper .box .left {
    width: 100%;
  }
  .zhuli-swiper .box .pic {
    width: 60%;
  }
  .zhuli-swiper .box .txt {
    width: 40%;
  }
  .zhuli-swiper .box .t {
    width: 100%;
    padding: 0 15px;
  }
  .zhuli-swiper .box .t p {
    font-size: 22px;
  }
  .zhuli-swiper .box .t .more {
    font-size: 18px;
  }
  .zhuli-swiper .box .tit {
    width: 100%;
    text-align: center;
    margin: 0 0 20px;
  }
  .zhuli-swiper .box .tit h3::after {
    display: none;
  }
  .zhuli-swiper .box .tit p {
    font-size: 17px;
    color: #333;
    line-height: 24px;
    margin: 20px 0 0;
  }

  .zhuli-swiper .list {
    margin: 25px 0 0;
  }

  .zhuli-swiper .swiper-button-prev,
  .zhuli-swiper .swiper-button-next {
    display: none;
  }
  .zhuli-swiper .swiper-pagination {
    display: block;
  }

  .zhuli-swiper .view .swiper-slide .txt {
    padding: 30px 0;
    border-radius: 0;
    width: 100%;
    text-align: center;
    position: relative;
  }
  .zhuli-swiper .view .swiper-slide .txt p {
    font-size: 20px;
    margin: 15px 0 0;
  }

  .zhuli-swiper .preview {
    overflow: visible;
  }
  .zhuli-swiper .preview .arrow-left,
  .zhuli-swiper .preview .arrow-right {
    color: #fff;
    width: 40px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .zhuli-swiper .preview .arrow-left {
    top: 0;
    left: 100%;
  }
  .zhuli-swiper .preview .arrow-right {
    top: 0;
    left: -40px;
  }
}

@media screen and (max-width: 480px) {
  .zhuli-swiper .view .swiper-slide .txt h5 {
    font-size: 22px;
  }
  .zhuli-swiper .view .swiper-slide .txt p {
    font-size: 16px;
  }
  .zhuli-swiper .preview {
    padding: 0;
    top: 20px;
    right: calc(50% - 100px);
  }
}
