footer {
  padding: 40px 0;
}
footer .container {
  margin-top: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
footer h5 {
  font-size: 24px;
  color: #000;
  line-height: 1;
  margin: 0 0 15px;
  text-transform: uppercase;
}

.zhuli-foot-nav ul {
  margin: 0;
  overflow: hidden;
}
.zhuli-foot-nav ul li {
  color: #444;
  font-size: 18px;
  line-height: 25px;
}
.zhuli-foot-nav ul li + li {
  margin-top: 8px;
}
.zhuli-foot-nav ul li a:hover {
  color: var(--color-primary);
}

.zhuli-foot-list ul {
  margin: 0;
  overflow: hidden;
}
.zhuli-foot-list ul li {
  color: #444;
  font-size: 18px;
  line-height: 25px;
}
.zhuli-foot-list ul li + li {
  margin-top: 8px;
}
.zhuli-foot-list ul li a:hover {
  color: var(--color-primary);
}

.zhuli-foot-contact {
  width: 415px;
}
.zhuli-foot-contact p {
  color: #444;
  font-size: 18px;
  line-height: 25px;
  padding-left: 35px;
}
.zhuli-foot-contact p i {
  color: var(--color-primary);
  font-size: 18px;
}
.zhuli-foot-contact p + p {
  margin-top: 8px;
}
.zhuli-foot-contact p a:hover {
  color: var(--color-primary);
}
.zhuli-foot-form {
  width: 460px;
}
.zhuli-foot-form .sendemail {
  margin: 30px 0 0;
  width: 100%;
  position: relative;
}

.zhuli-foot-form .sendemail .post-text {
  width: 100%;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  color: var(--text-color);
  padding: 0 15px;
  font-size: 16px;
  background: #fff;
  border: 1px solid var(--color-primary);
  border-radius: var(--button-radius);
}
.zhuli-foot-form .sendemail .post-btn {
  margin: 15px 0 0;
  font-size: 18px;
  background: var(--color-primary);
  color: #fff;
  width: 100%;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: var(--button-radius);
  display: block;
  cursor: pointer;
}
.zhuli-foot-form .sendemail .post-btn:hover {
  background: var(--color-second);
}
.zhuli-foot-form p {
  font-size: 18px;
  color: #363535;
  margin: 15px 0 0;
}
.zhuli-foot-form .share {
  font-size: 0;
  margin: 15px 0 0;
}
.zhuli-foot-form .share a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: #585858;
}
.zhuli-foot-form .share a + a {
  margin-left: 20px;
}
.zhuli-foot-form .share a i {
  font-size: 21px;
  color: inherit;
}
.zhuli-foot-form .share a:hover {
  background: #22ac39;
  color: #fff;
}

.zhuli-copyright {
  padding: 45px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.zhuli-copyright p {
  text-align: center;
  margin: 0 auto;
  color: #666666;
}
.zhuli-copyright p a {
  margin-left: 5px;
}

.zhuli-side-bar {
  top: 50%;
  margin-top: -200px;
  position: fixed;
  right: 5px;
  z-index: 9999;
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(62, 57, 107, 0.3) 0px 6px 16px 0px;
}
.zhuli-side-bar a {
  display: block;
  cursor: pointer;
  width: 60px;
  background: #fff;
  position: relative;
  color: #676767;
  padding: 15px 0;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 3px;
}
.zhuli-side-bar a i {
  display: inline-block;
  font-size: 20px;
  color: #26ac39;
}
.zhuli-side-bar a span {
  font-size: 10px;
  color: #26ac39;
  display: block;
  margin: 10px 0 0;
}
.zhuli-side-bar a.wx .wx-box {
  width: 152px;
  height: 193px;
  position: absolute;
  right: 98px;
  top: -50px;
  display: none;
}
.zhuli-side-bar a.wx .wx-box .box {
  width: 150px;
  padding: 10px;
  border: 1px solid #d6d7d7;
  text-align: center;
  background: #fff;
  overflow: hidden;
}
.zhuli-side-bar a.wx .wx-box .box img {
  width: 100%;
}
.zhuli-side-bar a.wx .wx-box .box span {
  font-size: 12px;
  color: #333;
  line-height: 18px;
  letter-spacing: 1px;
}
.zhuli-side-bar a.wx .wx-box .arrowPanel {
  width: 12px;
  height: 20px;
  position: absolute;
  right: -9px;
  top: 70px;
}
.zhuli-side-bar a.wx .wx-box .arrowPanel .arrow01 {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: 0;
  left: 2px;
  top: 0;
  border-top: 10px dashed transparent;
  border-right: 10px dashed transparent;
  border-bottom: 10px dashed transparent;
  border-left: 10px solid #ddd;
}
.zhuli-side-bar a.wx .wx-box .arrowPanel .arrow02 {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  border-top: 10px dashed transparent;
  border-right: 10px dashed transparent;
  border-bottom: 10px dashed transparent;
  border-left: 10px solid #fff;
}
.zhuli-side-bar a.wx:hover .wx-box {
  display: block;
}

@media screen and (max-width: 1281px) {
  footer h5 {
    font-size: 20px;
  }
  .zhuli-foot-nav ul li {
    font-size: 16px;
    line-height: 22px;
  }
  .zhuli-foot-list ul li {
    font-size: 16px;
    line-height: 22px;
  }
  .zhuli-foot-contact p {
    font-size: 16px;
    line-height: 22px;
  }
  .zhuli-foot-form {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    background: #3c3c3c;
    padding: 30px 0;
  }
  footer .container {
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
  }
  footer h5 {
    color: #fff;
  }

  .zhuli-foot-form {
    width: 100%;
    text-align: center;
  }
  .zhuli-foot-form .tit {
    width: 100%;
    text-align: center;
  }
  .zhuli-foot-form h5 {
    font-size: 24px;
    margin: 15px 0 0;
  }
  .zhuli-foot-form h5 br {
    display: none;
  }
  .zhuli-foot-form p {
    font-size: 16px;
    color: #fff;
  }
  .zhuli-foot-form .inquirbox {
    width: 100%;
    margin: 20px 0 0;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .zhuli-foot-form .inquirbox .row {
    margin-right: 0;
  }
  .zhuli-foot-form .inquirbox textarea {
    height: 60px;
  }
  .zhuli-foot-form .inquirbox .bnt {
    margin: 0 auto;
    height: 72px;
    font-size: 18px;
    padding: 0 10px 0 40px;
  }
  .zhuli-foot-form .inquirbox .bnt i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }

  .zhuli-foot-nav,
  .zhuli-foot-list {
    display: none;
  }
  .zhuli-side-bar {
    display: none;
  }

  .zhuli-foot-contact {
    width: 100%;
    margin: 20px 0 0;
    text-align: center;
  }
  .zhuli-foot-contact p {
    font-size: 15px;
    line-height: 23px;
    color: #fff;
  }
  .zhuli-foot-contact p.p1 {
    background-position: left 2px;
  }
  .zhuli-foot-contact .telA {
    background: none;
    padding: 0;
  }
  .zhuli-foot-contact .telB {
    background: none;
    padding: 0;
  }
  .zhuli-foot-contact .fax {
    background: none;
    padding: 0;
  }
  .zhuli-foot-contact .mail {
    background: none;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  footer h5 {
    font-size: 18px;
  }
  .zhuli-foot-contact p {
    font-size: 14px;
  }
  .zhuli-foot-form h5 {
    font-size: 18px;
  }
  .zhuli-foot-form .inquirbox .bnt {
    width: 210px;
    height: 52px;
    font-size: 18px;
    padding: 0 6px 0 20px;
  }
  .zhuli-foot-form .inquirbox .bnt i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}
