.crmFormVali-error{color:#a94442;font-size:12px;line-height:1;position:absolute;right:20px;top:calc(50% - 6px);}
#crmMailMask{font-size:14px;line-height:1.5;color:#444;text-align:center;position:fixed;width:100%;height:100%;left:0;top:0;z-index:10999;background:rgba(80,80,80,0.5)}
#crmMailMask,#crmMailMask *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box}
#crmMailMask:after,#crmMailMask>div{display:inline-block;vertical-align:middle}
#crmMailMask:after{content:'';height:100%;width:0;overflow:hidden}
#crmMailMask .crmMailMask-box{background:#fff;width:300px;border-radius:4px;max-width:98%;padding:25px 20px;}
#crmMailMask .crmMailMask-box .crmMailMask-boxBot{margin-top:10px}
#crmMailMask .crmMailMask-box .crmMailMask-boxBot button{line-height:1;border:0 none;padding:10px 15px;background:#135287;color:#fff;font-size:13px;text-transform:capitalize}
button.submit .crm-submit-load{display:inline-block;width:24px;height:20px;background:url("../images/small-load.gif") no-repeat center right;vertical-align:middle}
button.create-form-submit[disabled]{cursor:not-allowed !important;}
.crm-body-clear{overflow:hidden!important}