<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>建站测试公司40</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="../../../favicon.ico">
    <link rel="preconnect" href="https://shopcdnpro.grainajz.com">
<!-- google analysis -->
<script async="" src="../../../gtag/js?id=G-DGSNQFLD89"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DGSNQFLD89');
</script>
<link rel="stylesheet" type="text/css" href="../../../tpl-common/common/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../../tpl-common/common/css/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../../tpl-common/common/css/animate.css">
<style>
  /*********** reset start **************/
  body {
    color: var(--text-color, #666);
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    text-align: left;
    background: #ffffff;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    overflow-x: hidden;
  }

  body * {
    margin: 0;
    padding: 0;
    outline: none !important;
    line-height: 1.4;
  }

  button, input, textarea {
    border: none;
  }

  /*********** 标题 start **************/
  h1, .h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--title-text-color, #000);
    font-family: var(--title-font-family);
  }
  h2, .h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--title-text-color, #000);
    font-family: var(--title-font-family);
  }
  h3, .h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--title-text-color, #000);
    font-family: var(--title-font-family);
  }
  h4, .h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color, #555);
    font-family: var(--title-font-family);
  }
  h5, .h5 {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color, #888);
    font-family: var(--title-font-family);
  }

  @media only screen and (max-width: 767px) {
    h1, .h1 {
      font-size: 22px;
    }
    h2, .h2 {
      font-size: 20px;
    }
    h3, .h3 {
      font-size: 18px;
    }
  }
  /*********** 标题 end **************/

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: var(--color-primary);
  }

  ol,
  ul {
    list-style: none;
  }

  i,
  em {
    font-style: normal;
  }

  .rich-text ol {
    list-style: decimal;
    width: fit-content;
    text-align: left;
    padding-left: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .rich-text ul {
    list-style: disc;
    width: fit-content;
    text-align: left;
    padding-left: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .rich-text ul li {
    list-style: disc;
  }

  .rich-text em {
    font-style: italic;
  }

  img {
    max-width: 100%;
  }
    :not(.rich-text) img {
      width: auto;
      height: auto;
    }

  .fr,
  .float-right {
    float: right;
  }

  .fl,
  .float-left {
    float: left;
  }

  .uppercase {
    text-transform: uppercase;
  }

  /* RTL布局 */
  html[dir="rtl"] body {
    text-align: right;
  }

  /* 清除浮动 */
  .cl {
    zoom: 1;
  }

  .cl:before,
  .cl:after {
    display: table;
    content: " ";
  }

  .cl:after {
    clear: both;
  }

  /*富文本内置样式*/
  .mce-img-32 {width: 32px;height: auto;} .mce-img-64 {width: 64px;height: auto;} .mce-img-240 {width: 240px;height: auto;} .mce-img-480 {width: 480px;height: auto;} .mce-img-600 {width: 600px;height: auto;} .mce-img-1024 {width: 1024px;height: auto;} .mce-img-2048 {width: 2048px;height: auto;} .mce-img-w-100 {width: 100%;height: auto;}

  :root {

    --color-primary:#25AC39;

    --color-primary-rgb:37, 172, 57;

    --color-second:#158927;

    --color-second-rgb:21, 137, 39;

    --bg-color: #f5f5f5;

    --btn-hover: #25AC39;

    --button-radius: 10px;

    --font-family: Roboto;

    --title-font-family: Roboto_Bold;

    --text-color: #2d2d2d;

    --text-color-rgb: 45, 45, 45;

    --title-text-color: #2d2d2d;

    --title-text-color-rgb: 45, 45, 45;
  }

  @font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url('../../../tpl-common/common/css/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: "Roboto_Bold";
    font-display: swap;
    src: url('../../../tpl-common/common/css/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  }</style>


<meta name="referrer" content="no-referrer-when-downgrade">

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }

  // 1. 每个页面先默认 不同意追踪 及 不接受 cookie
  gtag('consent', 'default', {
    analytics_storage: 'denied',
    ad_storage: 'denied',
    ad_user_data: 'denied',
    ad_personalization: 'denied',
    wait_for_update: 500, // wait for an update signal to overwrite, if any. (for waiting CMP)
    region: [
      'AT',
      'BE',
      'BG',
      'CY',
      'CZ',
      'DE',
      'DK',
      'EE',
      'ES',
      'FI',
      'FR',
      'GR',
      'HR',
      'HU',
      'IE',
      'IS',
      'IT',
      'LI',
      'LT',
      'LU',
      'LV',
      'MT',
      'NL',
      'NO',
      'PL',
      'PT',
      'RO',
      'SE',
      'SI',
      'SK',
    ], // apply default to specific regions only
  });

  // 1.a 其它可选的设置
  gtag('set', 'url_passthrough', true); // improve tracking via querystring info when consent is denied
  gtag('set', 'ads_data_redaction', true); // further remove ads click info when ad_storage is denied
</script>

<script>
  // 2. 根据用户之前是否同意的选项 在每个页面自动触发 代码同意追踪 及 cookie
  if (localStorage['gtag.consent.option'] !== undefined) {
    const option = JSON.parse(localStorage['gtag.consent.option']);
    gtag('consent', 'update', option);
  }
</script>










  <link rel="canonical" href="https://or1eauoq.okkishop.site/">
<link rel="alternate" hreflang="x-default" href="https://or1eauoq.okkishop.site/">
<link rel="alternate" hreflang="en" href="https://or1eauoq.okkishop.site/">
<link rel="alternate" hreflang="nl" href="https://or1eauoq.okkishop.site/nl/">
<link rel="alternate" hreflang="it" href="https://or1eauoq.okkishop.site/it/">
<link rel="alternate" hreflang="ro" href="https://or1eauoq.okkishop.site/ro/">
<link rel="alternate" hreflang="he" href="https://or1eauoq.okkishop.site/iw/">
<link rel="alternate" hreflang="sl" href="https://or1eauoq.okkishop.site/sl/">
<link rel="alternate" hreflang="hu" href="https://or1eauoq.okkishop.site/hu/">
<link rel="alternate" hreflang="ms" href="https://or1eauoq.okkishop.site/ms/">
    
    
    
    
  </head>

  <body>
<h1 style="display: none">建站测试公司40</h1>
          <!-- sectionStart: zhu_head -->
          

<link rel="stylesheet" type="text/css" href="../../../inst/Zhu/95/343169/sections/zhu_head/index.css">

<div class="zhuli-sitetop">
  <div class="cl">
    <span class="fl mo-header-menu">
      <i class="qico qico-caidan"></i>
    </span>
    <span class="fr mo-header-search">
      <i class="qico qico-search3"></i>
    </span>
  </div>
</div>

<div class="zhuli-search-box">
  <div class="box search-box-only">
    <form class="serchbox cl" name="search" method="post" action="javascript:void(0)">
      <input type="hidden" name="type" value="product">
      <input class="submit_text" type="text" name="keys" placeholder="Search">
      <button aria-label="submit" type="submit" class="submit_btn">
        <i class="qico qico-search"></i>
      </button>
    </form>
    <a aria-label="close" class="close" href="javascript:void(0)">
      <i class="qico qico-guanbi"></i>
    </a>
  </div>
</div>

<div class="zhuli-mo-leftmenu visible-xs-block">
  <div class="tit cl">
    <h6>All Categories</h6>
    <span>
      <i class="qico qico-guanbi"></i>
    </span>
  </div>
  <ul>
    <li class="active">
      <a aria-label="Home" href="index.html">Home</a>
    </li>
      <li>
        <a aria-label="Products" href="Products">Products</a>
          <i class="qico qico-down zhu-down-btn"></i>
          <ul>
              <li>
                <a aria-label="Flexible packaging bag" href="Flexible-packaging-bag">
                  <i class="qico qico-right"></i>
                  Flexible packaging bag
                </a>
              </li>
              <li>
                <a aria-label="Paper shopping bag" href="Paper-shopping-bag">
                  <i class="qico qico-right"></i>
                  Paper shopping bag
                </a>
              </li>
              <li>
                <a aria-label="Plastic carrier bag" href="Plastic-carrier-bag">
                  <i class="qico qico-right"></i>
                  Plastic carrier bag
                </a>
              </li>
          </ul>
      </li>
      <li>
        <a aria-label="About Us" href="About-us">About Us</a>
      </li>
      <li>
        <a aria-label="Application" href="Application">Application</a>
      </li>
      <li>
        <a aria-label="News" href="News">News</a>
      </li>
      <li>
        <a aria-label="Contact Us" href="Contact-us">Contact Us</a>
      </li>
  </ul>
</div>

<div class="zhuli-header">
  <div class="container">
    <div class="logo wow fadeInLeft">
      <a aria-label="logo" href="index.html"><img src="../../../95/upload/logo/7b4516ab-583b-4c7e-a8c7-933bcbd9b1f5-f61cdbc079c332b6e21fc40e86f31edebe7c59e4a5eaec36e5f769a0b3b77b84.webp" alt="建站测试公司40" width="130" height="84"></a>
    </div>
    <div class="zhuli-nav wow fadeInUp">
      <ul>
        <li class="active">
          <a aria-label="Home" href="index.html">Home</a>
        </li>
          <li>
            <a aria-label="Products" href="Products">Products</a>
              <ul>
                  <li>
                    <a aria-label="Flexible packaging bag" href="Flexible-packaging-bag">Flexible packaging bag
                        <i class="qico qico-right"></i>
                    </a>
                      <ul style="display:block;">
                          <li>
                            <a aria-label="3 Sides Seal Pouch" href="3-sides-seal-pouch">3 Sides Seal Pouch</a>
                          </li>
                          <li>
                            <a aria-label="Stand up pouch" href="Stand-up-pouch">Stand up pouch</a>
                          </li>
                          <li>
                            <a aria-label="8 Sides Seal Bag/Flat bottom pouch" href="8-sides-seal-bagflat-bottom-pouch">8 Sides Seal Bag/Flat bottom pouch</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                    <a aria-label="Paper shopping bag" href="Paper-shopping-bag">Paper shopping bag
                    </a>
                  </li>
                  <li>
                    <a aria-label="Plastic carrier bag" href="Plastic-carrier-bag">Plastic carrier bag
                    </a>
                  </li>
              </ul>
          </li>
          <li>
            <a aria-label="About Us" href="About-us">About Us</a>
          </li>
          <li>
            <a aria-label="Application" href="Application">Application</a>
          </li>
          <li>
            <a aria-label="News" href="News">News</a>
          </li>
          <li>
            <a aria-label="Contact Us" href="Contact-us">Contact Us</a>
          </li>
      </ul>
    </div>

    <div class="zhuli-header-right wow fadeInRight">
      <div class="zhuli-search">
        <em>
          <i class="qico qico-search3"></i>
        </em>
      </div>
      <div class="zhuli-header-lang notranslate">
        <div class="box">
          <img src="../../../template/40_flag/flag/en.png" alt="EN" width="27" height="18"><em>EN</em>
          <i class="qico qico-down2"></i>
        </div>
        <div class="lang-box">
          <ul class="language-switch">
              <li>
                <a href="https://or1eauoq.okkishop.site/" data-lang="en" aria-label="en" tran="no" rel="nofollow">
                  <img src="../../../template/40_flag/flag/en.png" alt="en" width="27" height="18">EN
                </a>
              </li>
              <li>
                <a href="https://or1eauoq.okkishop.site/nl/" data-lang="nl" aria-label="nl" tran="no" rel="nofollow">
                  <img src="../../../template/40_flag/flag/nl.png" alt="nl" width="30" height="20">NL
                </a>
              </li>
              <li>
                <a href="https://or1eauoq.okkishop.site/it/" data-lang="it" aria-label="it" tran="no" rel="nofollow">
                  <img src="../../../template/40_flag/flag/it.png" alt="it" width="30" height="20">IT
                </a>
              </li>
              <li>
                <a href="https://or1eauoq.okkishop.site/ro/" data-lang="ro" aria-label="ro" tran="no" rel="nofollow">
                  <img src="../../../template/40_flag/flag/ro.png" alt="ro" width="30" height="20">RO
                </a>
              </li>
              <li>
                <a href="https://or1eauoq.okkishop.site/iw/" data-lang="iw" aria-label="iw" tran="no" rel="nofollow">
                  <img src="../../../template/40_flag/flag/iw.png" alt="iw" width="30" height="20">IW
                </a>
              </li>
              <li>
                <a href="https://or1eauoq.okkishop.site/sl/" data-lang="sl" aria-label="sl" tran="no" rel="nofollow">
                  <img src="../../../template/40_flag/flag/sl.png" alt="sl" width="30" height="18">SL
                </a>
              </li>
              <li>
                <a href="https://or1eauoq.okkishop.site/hu/" data-lang="hu" aria-label="hu" tran="no" rel="nofollow">
                  <img src="../../../template/40_flag/flag/hu.png" alt="hu" width="30" height="20">HU
                </a>
              </li>
              <li>
                <a href="https://or1eauoq.okkishop.site/ms/" data-lang="ms" aria-label="ms" tran="no" rel="nofollow">
                  <img src="../../../template/40_flag/flag/ms.png" alt="ms" width="30" height="20">MS
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




          <!-- sectionEnd: zhu_head -->
        
          <!-- sectionStart: zhu_banner_1716543335145840 -->
          
  <link rel="stylesheet" type="text/css" href="../../../tpl-common/common/css/swiper7.css">
  <link rel="stylesheet" type="text/css" href="../../../inst/Zhu/95/343169/sections/zhu_banner_1716543335145840/index.css">

  <div id="zhuli-banner">
    <div class="swiper">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a aria-label="Leading Manufacturer of Industrial" href="">
              <img src="../../shop-default/28d615d0-131d-4870-ad62-b8139541b240-20_960.png" alt="Leading Manufacturer of Industrial" class="hidden-xs" width="1920" height="960" srcset="https://shopcdnpro.grainajz.com/templates/shop-default/28d615d0-131d-4870-ad62-b8139541b240-20_960.png?x-oss-process=image/resize,w_480,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/28d615d0-131d-4870-ad62-b8139541b240-20_960.png?x-oss-process=image/resize,w_960,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/28d615d0-131d-4870-ad62-b8139541b240-20_960.png?x-oss-process=image/resize,w_1400,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/28d615d0-131d-4870-ad62-b8139541b240-20_960.png?x-oss-process=image/resize,w_1900,limit_0,../../shop-default/28d615d0-131d-4870-ad62-b8139541b240-20_960.png 1920w" sizes="100vw">
              <img src="../../shop-default/0bfa1ed0-0503-485a-8c32-c5aa00a6f825-bb30e6.png" class="visible-xs-block" alt="Leading Manufacturer of Industrial" width="1024" height="1024" srcset="https://shopcdnpro.grainajz.com/templates/shop-default/0bfa1ed0-0503-485a-8c32-c5aa00a6f825-bb30e6.png?x-oss-process=image/resize,w_480,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/0bfa1ed0-0503-485a-8c32-c5aa00a6f825-bb30e6.png?x-oss-process=image/resize,w_960,limit_0,../../shop-default/0bfa1ed0-0503-485a-8c32-c5aa00a6f825-bb30e6.png 1024w" sizes="100vw">
            </a>
          </div>
          <div class="swiper-slide">
            <a aria-label="Leading Manufacturer of Industrial" href="">
              <img src="../../shop-default/e534b273-56e4-48df-9000-f532e5dc09e9-20_960.png" alt="Leading Manufacturer of Industrial" class="hidden-xs" width="1920" height="960" srcset="https://shopcdnpro.grainajz.com/templates/shop-default/e534b273-56e4-48df-9000-f532e5dc09e9-20_960.png?x-oss-process=image/resize,w_480,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/e534b273-56e4-48df-9000-f532e5dc09e9-20_960.png?x-oss-process=image/resize,w_960,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/e534b273-56e4-48df-9000-f532e5dc09e9-20_960.png?x-oss-process=image/resize,w_1400,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/e534b273-56e4-48df-9000-f532e5dc09e9-20_960.png?x-oss-process=image/resize,w_1900,limit_0,../../shop-default/e534b273-56e4-48df-9000-f532e5dc09e9-20_960.png 1920w" sizes="100vw">
              <img src="../../shop-default/fee9523a-eba9-42b0-8545-3326e747a3b2-e45253.png" class="visible-xs-block" alt="Leading Manufacturer of Industrial" width="1024" height="1024" srcset="https://shopcdnpro.grainajz.com/templates/shop-default/fee9523a-eba9-42b0-8545-3326e747a3b2-e45253.png?x-oss-process=image/resize,w_480,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/fee9523a-eba9-42b0-8545-3326e747a3b2-e45253.png?x-oss-process=image/resize,w_960,limit_0,../../shop-default/fee9523a-eba9-42b0-8545-3326e747a3b2-e45253.png 1024w" sizes="100vw">
            </a>
          </div>
          <div class="swiper-slide">
            <a aria-label="Leading Manufacturer of Industrial" href="">
              <img src="../../shop-default/b2e61723-4eb0-4225-b58f-c25278c5d95d-20_960.png" alt="Leading Manufacturer of Industrial" class="hidden-xs" width="1920" height="960" srcset="https://shopcdnpro.grainajz.com/templates/shop-default/b2e61723-4eb0-4225-b58f-c25278c5d95d-20_960.png?x-oss-process=image/resize,w_480,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/b2e61723-4eb0-4225-b58f-c25278c5d95d-20_960.png?x-oss-process=image/resize,w_960,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/b2e61723-4eb0-4225-b58f-c25278c5d95d-20_960.png?x-oss-process=image/resize,w_1400,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/b2e61723-4eb0-4225-b58f-c25278c5d95d-20_960.png?x-oss-process=image/resize,w_1900,limit_0,../../shop-default/b2e61723-4eb0-4225-b58f-c25278c5d95d-20_960.png 1920w" sizes="100vw">
              <img src="../../shop-default/f0194b8a-92e3-474d-9b08-40b60bf20a57-bb30e6.png" class="visible-xs-block" alt="Leading Manufacturer of Industrial" width="1024" height="1024" srcset="https://shopcdnpro.grainajz.com/templates/shop-default/f0194b8a-92e3-474d-9b08-40b60bf20a57-bb30e6.png?x-oss-process=image/resize,w_480,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/f0194b8a-92e3-474d-9b08-40b60bf20a57-bb30e6.png?x-oss-process=image/resize,w_960,limit_0,../../shop-default/f0194b8a-92e3-474d-9b08-40b60bf20a57-bb30e6.png 1024w" sizes="100vw">
            </a>
          </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>

  
  

          <!-- sectionEnd: zhu_banner_1716543335145840 -->
        
          <!-- sectionStart: zhu_hot_product_1716543335638485 -->
          


  <link rel="stylesheet" type="text/css" href="../../../inst/Zhu/95/343169/sections/zhu_hot_product_1716543335638485/index.css">

  <div class="zhuli-hot_product">
    <div class="container">
      <div class="tit">
        <h3 class="wow fadeInLeft">
          Hot Product
        </h3>
        <p class="wow fadeInRight">Flexible packaging bags/roll films/paper bags</p>
      </div>
      <ul class="wow fadeInUp" data-wow-delay=".3s">
          <li>
            <div class="box">
              <a aria-label="8 Sides Seal Bag/Flat bottom pouch" class="pic" href="product-8-sides-seal-bagflat-bottom-pouch">
                <img src="../../../95/upload/product/6d8cd39b8b05d70647d56460ca82f7116ff4e957428c5c706c941a11cbea1fa7.png" alt="8 Sides Seal Bag/Flat bottom pouch" width="500" height="500" srcset="https://shopcdnpro.grainajz.com/95/upload/product/6d8cd39b8b05d70647d56460ca82f7116ff4e957428c5c706c941a11cbea1fa7.png?x-oss-process=image/resize,w_480,limit_0,../../../95/upload/product/6d8cd39b8b05d70647d56460ca82f7116ff4e957428c5c706c941a11cbea1fa7.png 500w" sizes="100vw">
              </a>
              <h6>
                <a aria-label="8 Sides Seal Bag/Flat bottom pouch" href="product-8-sides-seal-bagflat-bottom-pouch">8 Sides Seal Bag/Flat bottom pouch</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="Poly Zip Bag" class="pic" href="product-poly-zip-bag">
                <img src="../../../95/upload/product/a9a04a439c59403e27e42251cb6ae349559a00a9bd6046dbb7e6d9eda7c7774f.png" alt="Poly Zip Bag" width="500" height="500" srcset="https://shopcdnpro.grainajz.com/95/upload/product/a9a04a439c59403e27e42251cb6ae349559a00a9bd6046dbb7e6d9eda7c7774f.png?x-oss-process=image/resize,w_480,limit_0,../../../95/upload/product/a9a04a439c59403e27e42251cb6ae349559a00a9bd6046dbb7e6d9eda7c7774f.png 500w" sizes="100vw">
              </a>
              <h6>
                <a aria-label="Poly Zip Bag" href="product-poly-zip-bag">Poly Zip Bag</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="BOPP Cello Bag/BOPP Cellophane Bag/Bopp Adhesive Bag" class="pic" href="product-bopp-cello-bagbopp-cellophane-bagbopp-adhesive-bag">
                <img src="../../../95/upload/product/008e487e929a9f49dd108e46e1fc8b07c46fcb42b8ac0513c6b00e1f13526d35.png" alt="BOPP Cello Bag/BOPP Cellophane Bag/Bopp Adhesive Bag" width="500" height="500" srcset="https://shopcdnpro.grainajz.com/95/upload/product/008e487e929a9f49dd108e46e1fc8b07c46fcb42b8ac0513c6b00e1f13526d35.png?x-oss-process=image/resize,w_480,limit_0,../../../95/upload/product/008e487e929a9f49dd108e46e1fc8b07c46fcb42b8ac0513c6b00e1f13526d35.png 500w" sizes="100vw">
              </a>
              <h6>
                <a aria-label="BOPP Cello Bag/BOPP Cellophane Bag/Bopp Adhesive Bag" href="product-bopp-cello-bagbopp-cellophane-bagbopp-adhesive-bag">BOPP Cello Bag/BOPP Cellophane Bag/Bopp Adhesive Bag</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="Spout Pouch" class="pic" href="product-spout-pouch">
                <img src="../../../95/upload/product/55c77ed9c3c6419d0d6d94b934376370e04bb19cb03aa84eda1cbca0325254de.png" alt="Spout Pouch" width="500" height="500" srcset="https://shopcdnpro.grainajz.com/95/upload/product/55c77ed9c3c6419d0d6d94b934376370e04bb19cb03aa84eda1cbca0325254de.png?x-oss-process=image/resize,w_480,limit_0,../../../95/upload/product/55c77ed9c3c6419d0d6d94b934376370e04bb19cb03aa84eda1cbca0325254de.png 500w" sizes="100vw">
              </a>
              <h6>
                <a aria-label="Spout Pouch" href="product-spout-pouch">Spout Pouch</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="Side Gusset Pouch" class="pic" href="product-side-gusset-pouch">
                <img src="../../../1486/upload/product/51e2f6e59dd2ce698584725db6cab30145392c62fde6e13f4ff4d578674853db.png" alt="Side Gusset Pouch" width="500" height="500" srcset="https://shopcdnpro.grainajz.com/1486/upload/product/51e2f6e59dd2ce698584725db6cab30145392c62fde6e13f4ff4d578674853db.png?x-oss-process=image/resize,w_480,limit_0,../../../1486/upload/product/51e2f6e59dd2ce698584725db6cab30145392c62fde6e13f4ff4d578674853db.png 500w" sizes="100vw">
              </a>
              <h6>
                <a aria-label="Side Gusset Pouch" href="product-side-gusset-pouch">Side Gusset Pouch</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="Coffee Bag/Coffee Packing Bag" class="pic" href="coffee-bagcoffee-packing-bag">
                <img src="../../../95/upload/product/fd5f8ca6106259bcf3655b730eb1725efd0899519cd33f6a244cbc1dc7df5a72.png" alt="Coffee Bag/Coffee Packing Bag" width="500" height="500" srcset="https://shopcdnpro.grainajz.com/95/upload/product/fd5f8ca6106259bcf3655b730eb1725efd0899519cd33f6a244cbc1dc7df5a72.png?x-oss-process=image/resize,w_480,limit_0,../../../95/upload/product/fd5f8ca6106259bcf3655b730eb1725efd0899519cd33f6a244cbc1dc7df5a72.png 500w" sizes="100vw">
              </a>
              <h6>
                <a aria-label="Coffee Bag/Coffee Packing Bag" href="coffee-bagcoffee-packing-bag">Coffee Bag/Coffee Packing Bag</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="Stand up pouch" class="pic" href="product-stand-up-pouch">
                <img src="../../../1486/upload/product/14e4650164b0fbffab4677570ce8d1abca09d41168259479abbaac4e87a4b7a1.png" alt="Stand up pouch" width="500" height="500" srcset="https://shopcdnpro.grainajz.com/1486/upload/product/14e4650164b0fbffab4677570ce8d1abca09d41168259479abbaac4e87a4b7a1.png?x-oss-process=image/resize,w_480,limit_0,../../../1486/upload/product/14e4650164b0fbffab4677570ce8d1abca09d41168259479abbaac4e87a4b7a1.png 500w" sizes="100vw">
              </a>
              <h6>
                <a aria-label="Stand up pouch" href="product-stand-up-pouch">Stand up pouch</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="3 Sides Seal Pouch" class="pic" href="product-3-sides-seal-pouch">
                <img src="../../../1486/upload/product/1739cd50d5d37ed4064f228a886239c04c13a237084c0ebed35af718976fc49f.png" alt="3 Sides Seal Pouch" width="500" height="500" srcset="https://shopcdnpro.grainajz.com/1486/upload/product/1739cd50d5d37ed4064f228a886239c04c13a237084c0ebed35af718976fc49f.png?x-oss-process=image/resize,w_480,limit_0,../../../1486/upload/product/1739cd50d5d37ed4064f228a886239c04c13a237084c0ebed35af718976fc49f.png 500w" sizes="100vw">
              </a>
              <h6>
                <a aria-label="3 Sides Seal Pouch" href="product-3-sides-seal-pouch">3 Sides Seal Pouch</a>
              </h6>
            </div>
          </li>
      </ul>
    </div>
  </div>

  

          <!-- sectionEnd: zhu_hot_product_1716543335638485 -->
        
          <!-- sectionStart: zhu_about_us_1716543335351401 -->
          
  <link rel="stylesheet" type="text/css" href="../../../inst/Zhu/95/343169/sections/zhu_about_us_1716543335351401/index.css">

  <div class="zhuli-about_us">
    <div class="container">
      <div class="txt wow fadeInLeft">
        <em>About Us</em>
        <h3>LINYI PACKING MATERIALS</h3>
        <div class="t">
          <p>Is located in Linyi City, Shandong Province,China. The company is a manufacturer integrating industry and trade, specializing in the production of plastic flexible packaging. It mainly produces flexible packaging bags, vacuum packaging bags, paper shopping bags, handle bags, carrier bags,aluminum foil packaging bags, stand-up bags, zipper bags and packaging sheets and film rolls. The products are widely used in food, snacks,clothing, laundry, agrochemical and other packaging fields. The company is committed to the design, research and development and finishing of flexible packaging, and provides the best one-stop packaging solution for customers that need packaging..........</p>
        </div>
        <a aria-label="Learn More" class="more" href="">Learn More</a>
      </div>
      <div class="pic wow fadeInRight">
        <a aria-label="LINYI PACKING MATERIALS" class="v wow fadeInRight" href="../../../39/upload/product/cbf29b88017788d428dcf1ae657b727fe34298cf184f5fcb753ad12b2cd2194f.mp4" data-fancybox="" data-type="iframe" data-width="960" data-height="540">
          <img src="../../../tpl-common/common/images/placeholder.png" alt="LINYI PACKING MATERIALS" width="1024" height="1024" srcset="https://shopcdnpro.grainajz.com/templates/shop-default/f6771ae9-ed5a-46bb-8b43-4c7c2d806f7a-d144ba.png?x-oss-process=image/resize,w_480,limit_0,https://shopcdnpro.grainajz.com/templates/shop-default/f6771ae9-ed5a-46bb-8b43-4c7c2d806f7a-d144ba.png?x-oss-process=image/resize,w_960,limit_0,../../shop-default/f6771ae9-ed5a-46bb-8b43-4c7c2d806f7a-d144ba.png 1024w" sizes="100vw" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/f6771ae9-ed5a-46bb-8b43-4c7c2d806f7a-d144ba.png">

          <div class="play">
            <div class="box">
              <img src="../../../tpl-common/common/images/placeholder.png" alt="LINYI PACKING MATERIALS" width="45" height="52" data-src="https://shopcdnpro.grainajz.com/inst/Zhu/95/343169/sections/zhu_about_us_1716543335351401/pics/v1.png">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  

          <!-- sectionEnd: zhu_about_us_1716543335351401 -->
        
          <!-- sectionStart: zhu_swiper_1716543335953203 -->
          
  <link rel="stylesheet" type="text/css" href="../../../inst/Zhu/95/343169/sections/zhu_swiper_1716543335953203/index.css">

  <div class="zhuli-swiper">
    <div class="list wow fadeInUp">
      <div class="view">
        <div class="swiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a aria-label="Seasoning" href="case-seasoning"><img src="../../../tpl-common/common/images/placeholder.png" alt="Seasoning" data-src="https://shopcdnpro.grainajz.com/1486/upload/product/51728243d801daa493a67b8d8d6a6f1bcfbac914e52a1cc9a8722a498f9789f9.png"></a>
                <div class="txt">
                  <h5></h5>
                  <p>Seasoning</p>
                </div>
              </div>
              <div class="swiper-slide">
                <a aria-label="Seasoning&amp; Ingredients" href="case-seasoning-ingredients947"><img src="../../../tpl-common/common/images/placeholder.png" alt="Seasoning&amp; Ingredients" data-src="https://shopcdnpro.grainajz.com/95/upload/custom/50037d32e1900d07c5d9a51c11b1e3bd7f9eab62918d5a186156d9f050dd2edd.png"></a>
                <div class="txt">
                  <h5></h5>
                  <p>Seasoning&amp; Ingredients</p>
                </div>
              </div>
              <div class="swiper-slide">
                <a aria-label="Food&amp;Snacks" href="case-foodsnacks376"><img src="../../../tpl-common/common/images/placeholder.png" alt="Food&amp;Snacks" data-src="https://shopcdnpro.grainajz.com/1486/upload/news/649e85a7d34a3a10827dbebdedf364ecb78f1d7039e3da7dd3371fce35e03556.png"></a>
                <div class="txt">
                  <h5></h5>
                  <p>Food&amp;Snacks</p>
                </div>
              </div>
              <div class="swiper-slide">
                <a aria-label="Seasoning&amp; Ingredients" href="case-seasoning-ingredients"><img src="../../../tpl-common/common/images/placeholder.png" alt="Seasoning&amp; Ingredients" data-src="https://shopcdnpro.grainajz.com/95/upload/custom/fe0aaf19513033c703b6c04c022d760afceae910841a1f4c2a911336304e3bdc.png"></a>
                <div class="txt">
                  <h5></h5>
                  <p>Seasoning&amp; Ingredients</p>
                </div>
              </div>
              <div class="swiper-slide">
                <a aria-label="Coffee" href="case-coffee"><img src="../../../tpl-common/common/images/placeholder.png" alt="Coffee" data-src="https://shopcdnpro.grainajz.com/95/upload/custom/ea1eb492926624f651c9e6b77cd1d2c199a23e6dfc4e91a53f17dbc73169e270.png"></a>
                <div class="txt">
                  <h5></h5>
                  <p>Coffee</p>
                </div>
              </div>
              <div class="swiper-slide">
                <a aria-label="Food&amp;Snacks" href="case-foodsnacks"><img src="../../../tpl-common/common/images/placeholder.png" alt="Food&amp;Snacks" data-src="https://shopcdnpro.grainajz.com/95/upload/custom/b12c35e0928926780ac464da62b60574f8afe48847ff72b1bcaaf31a32bea379.png"></a>
                <div class="txt">
                  <h5></h5>
                  <p>Food&amp;Snacks</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="preview">
        <div class="swiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide active-nav">
                <div class="pic"><img src="../../../tpl-common/common/images/placeholder.png" alt="Seasoning" data-src="https://shopcdnpro.grainajz.com/1486/upload/product/51728243d801daa493a67b8d8d6a6f1bcfbac914e52a1cc9a8722a498f9789f9.png"></div>
              </div>
              <div class="swiper-slide">
                <div class="pic"><img src="../../../tpl-common/common/images/placeholder.png" alt="Seasoning&amp; Ingredients" data-src="https://shopcdnpro.grainajz.com/95/upload/custom/50037d32e1900d07c5d9a51c11b1e3bd7f9eab62918d5a186156d9f050dd2edd.png"></div>
              </div>
              <div class="swiper-slide">
                <div class="pic"><img src="../../../tpl-common/common/images/placeholder.png" alt="Food&amp;Snacks" data-src="https://shopcdnpro.grainajz.com/1486/upload/news/649e85a7d34a3a10827dbebdedf364ecb78f1d7039e3da7dd3371fce35e03556.png"></div>
              </div>
              <div class="swiper-slide">
                <div class="pic"><img src="../../../tpl-common/common/images/placeholder.png" alt="Seasoning&amp; Ingredients" data-src="https://shopcdnpro.grainajz.com/95/upload/custom/fe0aaf19513033c703b6c04c022d760afceae910841a1f4c2a911336304e3bdc.png"></div>
              </div>
              <div class="swiper-slide">
                <div class="pic"><img src="../../../tpl-common/common/images/placeholder.png" alt="Coffee" data-src="https://shopcdnpro.grainajz.com/95/upload/custom/ea1eb492926624f651c9e6b77cd1d2c199a23e6dfc4e91a53f17dbc73169e270.png"></div>
              </div>
              <div class="swiper-slide">
                <div class="pic"><img src="../../../tpl-common/common/images/placeholder.png" alt="Food&amp;Snacks" data-src="https://shopcdnpro.grainajz.com/95/upload/custom/b12c35e0928926780ac464da62b60574f8afe48847ff72b1bcaaf31a32bea379.png"></div>
              </div>
          </div>
        </div>
        <a aria-label="up" class="arrow-left" href="javascript:void(0)">
          <i class="qico qico-up2"></i>
        </a>
        <a aria-label="down" class="arrow-right" href="javascript:void(0)">
          <i class="qico qico-down2"></i>
        </a>
      </div>
    </div>
  </div>

  
  
  

          <!-- sectionEnd: zhu_swiper_1716543335953203 -->
        
          <!-- sectionStart: zhu_swiper2_1716543335961103 -->
          
  <link rel="stylesheet" type="text/css" href="../../../inst/Zhu/95/343169/sections/zhu_swiper2_1716543335961103/index.css">

  <div class="zhuli-swiper2">
    <div class="container">
      <div class="tit wow fadeInDown">
        <em class="title">For A Range Of Sectors And Industries</em>
        <h3 class="desc">Custom Short - Run Flexible<br>Printed Pouches</h3>
      </div>
      <div class="list wow fadeInUp" data-wow-delay=".3s">
        <div class="swiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a aria-label="Seasoning Powder Bag/Seasoning bag" class="pic" href="">
                  <img src="../../../tpl-common/common/images/placeholder.png" alt="Seasoning Powder Bag/Seasoning bag" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/a0c2f368-8038-4090-b8e2-cdee7cd0b773-review.png">
                </a>
                <div class="txt">
                  <h5>
                    <a aria-label="Seasoning Powder Bag/Seasoning bag" href="">Seasoning Powder Bag/Seasoning bag</a>
                  </h5>
                  <div class="t rich-text"><table><tbody>
<tr>
<th>Printing:</th>
<td>Gravure Printing up to 10 colors        </td>
<th>Lead time:</th>
<td>15-20days</td>
</tr>
<tr>
<th>Material:</th>
<td>PET/PE, PET/VMPET/CPP etc.</td>
<th>MOQ:</th>
<td>30000PCS/Design/Size</td>
</tr>
<tr>
<th>Colors:</th>
<td>Customized color</td>
<th>Sealing way:</th>
<td>Heat sealing</td>
</tr>
<tr>
<th>Size:</th>
<td>Customized size        </td>
<th>Feature:</th>
<td>Recyclable</td>
</tr>
</tbody></table></div>
                </div>
              </div>
              <div class="swiper-slide">
                <a aria-label="Seasoning Powder Bag/Seasoning bag" class="pic" href="">
                  <img src="../../../tpl-common/common/images/placeholder.png" alt="Seasoning Powder Bag/Seasoning bag" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/9dc9b34c-ec31-4932-86ec-b9d7f337d034-review.png">
                </a>
                <div class="txt">
                  <h5>
                    <a aria-label="Seasoning Powder Bag/Seasoning bag" href="">Seasoning Powder Bag/Seasoning bag</a>
                  </h5>
                  <div class="t rich-text"><table><tbody>
<tr>
<th>Printing:</th>
<td>Gravure Printing up to 10 colors        </td>
<th>Lead time:</th>
<td>15-20days</td>
</tr>
<tr>
<th>Material:</th>
<td>PET/PE, PET/VMPET/CPP etc.</td>
<th>MOQ:</th>
<td>30000PCS/Design/Size</td>
</tr>
<tr>
<th>Colors:</th>
<td>Customized color</td>
<th>Sealing way:</th>
<td>Heat sealing</td>
</tr>
<tr>
<th>Size:</th>
<td>Customized size        </td>
<th>Feature:</th>
<td>Recyclable</td>
</tr>
</tbody></table></div>
                </div>
              </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  
  
  

          <!-- sectionEnd: zhu_swiper2_1716543335961103 -->
        
          <!-- sectionStart: zhu_multi_cols_1716543335302860 -->
          
  <link rel="stylesheet" type="text/css" href="../../../inst/Zhu/95/343169/sections/zhu_multi_cols_1716543335302860/index.css">

  <div class="zhuli-multi_cols">
    <div class="container">
      <div class="tit wow fadeInDown">
        <h3>
          <span>Quad Sealed Bag</span>
        </h3>
        <p></p>
      </div>
      <ul class="wow fadeInUp" data-wow-delay=".3s">
          <li>
            <div class="box">
              <a aria-label="Gusset Bag" class="pic" href="">
                <img src="../../../tpl-common/common/images/placeholder.png" alt="Gusset Bag" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/74e95d51-9ac7-4fcc-aa4d-fd108d965b8c-6a10-1.png">
              </a>
              <h6>
                <a aria-label="Gusset Bag" href="">Gusset Bag</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="Back Sealed Bag" class="pic" href="">
                <img src="../../../tpl-common/common/images/placeholder.png" alt="Back Sealed Bag" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/7f858987-7ff7-4ed7-ac28-052c4df99436-review.png">
              </a>
              <h6>
                <a aria-label="Back Sealed Bag" href="">Back Sealed Bag</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="3- Side Sealed Bag" class="pic" href="">
                <img src="../../../tpl-common/common/images/placeholder.png" alt="3- Side Sealed Bag" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/aa9436f3-af10-411d-a452-167e1eef9e61-review.png">
              </a>
              <h6>
                <a aria-label="3- Side Sealed Bag" href="">3- Side Sealed Bag</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="Self- Adhesive Bag" class="pic" href="">
                <img src="../../../tpl-common/common/images/placeholder.png" alt="Self- Adhesive Bag" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/509f1980-0b9b-454d-8620-80ace37684c9-review.png">
              </a>
              <h6>
                <a aria-label="Self- Adhesive Bag" href="">Self- Adhesive Bag</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="Wine Pouch" class="pic" href="">
                <img src="../../../tpl-common/common/images/placeholder.png" alt="Wine Pouch" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/2aa9a9f6-702a-498a-b9b8-f4779d3a4203-review.png">
              </a>
              <h6>
                <a aria-label="Wine Pouch" href="">Wine Pouch</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="Irregular Shape Bag" class="pic" href="">
                <img src="../../../tpl-common/common/images/placeholder.png" alt="Irregular Shape Bag" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/5f191fd8-cc97-4b53-9843-c093dade3b34-7ce8-2.png">
              </a>
              <h6>
                <a aria-label="Irregular Shape Bag" href="">Irregular Shape Bag</a>
              </h6>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="Packing Film" class="pic" href="">
                <img src="../../../tpl-common/common/images/placeholder.png" alt="Packing Film" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/6a7b498a-0c37-49cd-96b8-6aa5247774c6-review.png">
              </a>
              <h6>
                <a aria-label="Packing Film" href="">Packing Film</a>
              </h6>
            </div>
          </li>
      </ul>
    </div>
  </div>

  

          <!-- sectionEnd: zhu_multi_cols_1716543335302860 -->
        
          <!-- sectionStart: zhu_news_1716543335206941 -->
          


  <link rel="stylesheet" type="text/css" href="../../../inst/Zhu/95/343169/sections/zhu_news_1716543335206941/index.css">

  <div class="zhuli-news">
    <div class="container">
      <h3 class="wow fadeInDown">
        Blog Posts
      </h3>
      <ul class="wow fadeInUp" data-wow-delay=".3s">
          <li>
            <div class="box">
              <a aria-label="What is flexible packaging" class="pic" href="news-what-is-flexible-packaging">
                <img src="../../../tpl-common/common/images/placeholder.png" alt="What is flexible packaging" data-src="https://shopcdnpro.grainajz.com/95/upload/product/fd5f8ca6106259bcf3655b730eb1725efd0899519cd33f6a244cbc1dc7df5a72.png">
                <span>
                  <em>12</em>
                  2023-07
                </span>
              </a>
              <div class="t">
                <h5>
                  <a aria-label="What is flexible packaging" href="news-what-is-flexible-packaging">What is flexible packaging</a>
                </h5>
                <p>It is generally believed that the so-called composite flexible packaging 
material is a new type of high-quality material that can give full play to the 
advantages of each component material and form a composite of two or more 
materials with different p...</p>
                <a aria-label="More Detail" class="more" href="news-what-is-flexible-packaging">More Detail</a>
              </div>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="What is stand up pouch" class="pic" href="news-what-is-stand-up-pouch">
                <img src="../../../tpl-common/common/images/placeholder.png" alt="What is stand up pouch" data-src="https://shopcdnpro.grainajz.com/1486/upload/product/14e4650164b0fbffab4677570ce8d1abca09d41168259479abbaac4e87a4b7a1.png">
                <span>
                  <em>12</em>
                  2023-07
                </span>
              </a>
              <div class="t">
                <h5>
                  <a aria-label="What is stand up pouch" href="news-what-is-stand-up-pouch">What is stand up pouch</a>
                </h5>
                <p>A stand-up pouch, also known as a Doypack (trademark associated with a 
pouch), is a flexible package capable of standing upright on its base for 
display, storage and use. It is a type of plastic bag, but it also sometimes has 
the properties of a plasti...</p>
                <a aria-label="More Detail" class="more" href="news-what-is-stand-up-pouch">More Detail</a>
              </div>
            </div>
          </li>
          <li>
            <div class="box">
              <a aria-label="What is vacuum packaging" class="pic" href="news-what-is-vacuum-packaging">
                <img src="../../../tpl-common/common/images/placeholder.png" alt="What is vacuum packaging" data-src="https://shopcdnpro.grainajz.com/95/upload/product/008e487e929a9f49dd108e46e1fc8b07c46fcb42b8ac0513c6b00e1f13526d35.png">
                <span>
                  <em>12</em>
                  2023-07
                </span>
              </a>
              <div class="t">
                <h5>
                  <a aria-label="What is vacuum packaging" href="news-what-is-vacuum-packaging">What is vacuum packaging</a>
                </h5>
                <p>Vacuum packaging, also known as decompression packaging, is to extract all 
the air in the packaging container and seal it to maintain a high degree of 
decompression in the bag. The scarcity of air is equivalent to the effect of low 
oxygen, so that micr...</p>
                <a aria-label="More Detail" class="more" href="news-what-is-vacuum-packaging">More Detail</a>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </div>

  

          <!-- sectionEnd: zhu_news_1716543335206941 -->
        
          <!-- sectionStart: zhu_foot -->
          

<link rel="stylesheet" type="text/css" href="../../../inst/Zhu/95/343169/sections/zhu_foot/index.css">
<link rel="stylesheet" type="text/css" href="../../../tpl-common/common/css/form.css">

<footer>
  <div class="container">
    <div class="zhuli-foot-nav">
      <h5>Home</h5>
      <ul>
          <li>
            <a aria-label="Products" href="Products">Products</a>
          </li>
          <li>
            <a aria-label="About Us" href="About-us">About Us</a>
          </li>
          <li>
            <a aria-label="Application" href="Application">Application</a>
          </li>
          <li>
            <a aria-label="News" href="News">News</a>
          </li>
          <li>
            <a aria-label="Contact Us" href="Contact-us">Contact Us</a>
          </li>
      </ul>
    </div>
    <div class="zhuli-foot-list">
      <h5>Products</h5>
      <ul>
          <li>
            <a aria-label="Flexible packaging bag" href="Flexible-packaging-bag">Flexible packaging bag</a>
          </li>
          <li>
            <a aria-label="Paper shopping bag" href="Paper-shopping-bag">Paper shopping bag</a>
          </li>
          <li>
            <a aria-label="Plastic carrier bag" href="Plastic-carrier-bag">Plastic carrier bag</a>
          </li>
      </ul>
    </div>
    <div class="zhuli-foot-contact">
      <h5>Contact us</h5>
      <p class="telA">
        <i class="qico qico-tel3"></i>
        Phone:
        <a aria-label="companytel" href="tel:4000666517">4000666517</a>
      </p>
      <p class="telB">
        <i class="qico qico-shouji2"></i>
        Tel:
        <a aria-label="companymobile" href="tel:4000666517">4000666517</a>
      </p>
      <p class="mail">
        <i class="qico qico-youxiang"></i>
        Mail:
        <a aria-label="companyemail" href="mailto:test@xiaoman.com">test@xiaoman.com</a>
      </p>
    </div>
    <div class="zhuli-foot-form">
      <h5>Leave us a message</h5>
      <div class="sendemail">
        <form name="inviteform" method="post" action="javascript:void(0)" class="invite-form">
          <input class="post-text" name="email" type="text" placeholder="Your Email">
          <button type="submit" class="post-btn create-form-submit" id="chk_math">
            SEND NOW
          </button>
        </form>
      </div>
      <div class="share">
          <a aria-label="facebook" href="">
            <i class="iconfont iconfont-facebook"></i>
          </a>
          <a aria-label="youtube" href="">
            <i class="iconfont iconfont-youtube"></i>
          </a>
      </div>
    </div>
  </div>
  <div class="zhuli-copyright">
    <p>
      COPYRIGHT @ 2023 xx
        |
        <a aria-label="Privacy Policy" href="">Privacy Policy</a>
    </p>
  </div>
</footer>
<div id="side-bar" class="zhuli-side-bar">
      <a aria-label="Inquiry" href="" rel="nofollow" target="_blank" class="text">
        <img src="../../../tpl-common/common/images/placeholder.png" alt="Inquiry" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/cf36ebaa-52d4-4761-838a-4f96cd1bb501-b05da1.png">
        <span>Inquiry</span>
      </a>
      <a aria-label="Email" href="mailto:test@info.com" rel="nofollow" target="_blank" class="text">
        <img src="../../../tpl-common/common/images/placeholder.png" alt="Email" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/4f9cde82-9e57-4dd5-b5e6-91027ce2770c-65f92f.png">
        <span>Email</span>
      </a>
      <a aria-label="WhatApp" href="https://api.whatsapp.com/send?phone=123" rel="nofollow" target="_blank" class="text">
        <img src="../../../tpl-common/common/images/placeholder.png" alt="WhatApp" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/54486976-6c81-4e5a-9a0c-d2785b8ff0f5-af5a8c.png">
        <span>WhatApp</span>
      </a>
      <a aria-label="WeChat" href="" rel="nofollow" class="wx">
        <img src="../../../tpl-common/common/images/placeholder.png" alt="WeChat" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/529f96ea-205a-4a0b-878e-feac4de40167-969e56.png">
        <span>WeChat</span>
        <div class="wx-box">
          <div class="box">
            <img src="../../../tpl-common/common/images/placeholder.png" alt="WeChat" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/312f9bac-e9b5-47ed-86c8-7ff459e871c1-1e6e2.webp">
          </div>
          <div class="arrowPanel">
            <div class="arrow01"></div>
            <div class="arrow02"></div>
          </div>
        </div>
      </a>
      <a aria-label="Top" href="javascript:void(0)" rel="nofollow" id="gotop"><img src="../../../tpl-common/common/images/placeholder.png" alt="Top" data-src="https://shopcdnpro.grainajz.com/templates/shop-default/08070214-fccb-468d-a86b-4a8f73d3314c-05dd43.png"><span>Top</span>
      </a>
</div>



          <!-- sectionEnd: zhu_foot -->
        

<link rel="stylesheet" type="text/css" href="../../../tpl-common/common/css/cookie-policy.css">

<input type="hidden" id="apiPath" value="https://cms.xiaoman.cn">
<input type="hidden" id="siteId" value="mKe7kItp8%2BHurpvxXNv3Nw%3D%3D">
<input type="hidden" id="clientId" value="kWxFxR4P5TNt5Y1cviG5Lw%3D%3D">
<input type="hidden" value="" id="pagetitle" name="pagetitle">

<!-- stayreal -->


  
    
        <script>
          window.addEventListener("load", function () {
            
      function lazyLoad() {
    const lazyIframes = [].slice.call(document.querySelectorAll('iframe[data-src]'));
    const lazyImages = [].slice.call(document.querySelectorAll('img[data-src]'));
    const lazyBgImages = [].slice.call(document.querySelectorAll('[data-bg]'));
    let lazys = lazyIframes.concat(lazyImages);
    const lazysCount = lazys.length;
    const lazyBgCount = lazyBgImages.length;
    if ('IntersectionObserver' in window && (lazysCount > 0 || lazyBgCount > 0)) {
        const lazyIframeObserver = new IntersectionObserver(function (entries, observer) {
            entries.forEach(function (entry) {
                if (entry.intersectionRatio > 0) {
                    if (lazysCount > 0) {
                        const src = entry.target.getAttribute('data-src');
                        if (src) {
                            entry.target.setAttribute('src', src);
                            entry.target.removeAttribute('data-src');
                            lazyIframeObserver.unobserve(entry.target);
                        }
                    }
                    if (lazyBgCount > 0) {
                        const bgUrl = entry.target.getAttribute('data-bg');
                        if (bgUrl) {
                            const style = entry.target.getAttribute('style');
                            entry.target.setAttribute('style', `background-image:url(${bgUrl});${style}`);
                            entry.target.removeAttribute('data-bg');
                            lazyIframeObserver.unobserve(entry.target);
                        }
                    }
                }
            });
        }, {
            threshold: [0, 0.1, 0.25, 0.5, 0.75, 1],
            rootMargin: '50px',
        });
        if (lazyBgCount > 0) {
            lazys = lazys.concat(lazyBgImages);
        }
        lazys.forEach(function (lazyIframe) {
            lazyIframeObserver.observe(lazyIframe);
        });
    }
}
      lazyLoad();
      // 处理js生成的dom
      setTimeout(function() {
        lazyLoad()
      }, 1000)
    
            
    setTimeout(() => {
      const fragment = document.createDocumentFragment();
      ['https://shopcdnpro.grainajz.com/tpl-common/common/js/cookie-policy.js'].forEach((u) => {
        
        const script = document.createElement('script');
        script.src = u;
        script.defer = true;
        fragment.appendChild(script);
      });

      document.body.appendChild(fragment);
    }, 2000);
  
          });
        </script>
      
    
    <script src="../../../tpl-common/common/js/okki.sen.837.js" defer=""></script>
    <script>
      window.addEventListener("DOMContentLoaded", function () {
        const userAgent = navigator.userAgent.toLowerCase();

        const isMobile = /iphone|ipod|android|ios|ipad|windows phone|mobile/i.test(userAgent);

        const deviceType = isMobile ? 'mobile' : 'pc';
        const host = window.location.host;
        const pathname = window.location.pathname;

        if (window.Sentry) {
          console.log('Sen init success');
          Sentry.init({
            dsn: 'https://ca254c5714ff4a723a1db3821caa9673@sen.xiaoman.cn/44',
            integrations: [Sentry.browserTracingIntegration()],
            environment: 'production',
            sampleRate: 0.1,
            tracesSampleRate: 0.1,
            beforeSendTransaction(event) {
              event.transaction = host;
              return event;
            },
            beforeSend(event) {
              event.transaction = host;
              if (host.includes('okkishop.site') || host === 'cms.xiaoman.cn'){
                return null;
              }
              return event;
            }
          });

          Sentry.setTag('site_id', 95);
          Sentry.setTag('client_id', 343169);
          Sentry.setTag('device_type', deviceType);
          Sentry.setTag("user_agent", navigator.userAgent);
          Sentry.setTag("host", host);
          Sentry.setTag("pathname", pathname);
        } else {
          console.log('Sen init fail');
        }
      });
    </script>
  
  <script type="text/javascript" src="../../../tpl-common/common/js/jquery.js" defer=""></script><script type="text/javascript" src="../../../tpl-common/common/js/popper.min.js" defer=""></script><script type="text/javascript" src="../../../tpl-common/common/js/bootstrap.min.js" defer=""></script><script type="text/javascript" src="../../../tpl-common/common/js/wow.js" defer=""></script><script type="text/javascript" src="../../../tpl-common/common/js/eventTrack.js" defer=""></script><script defer="" type="text/javascript" src="../../../tpl-common/common/js/swiper7.js"></script><script defer="" type="text/javascript" src="https://shopcdnpro.grainajz.com/tpl-common/js/wow.js"></script><script defer="" type="text/javascript" src="../../../tpl-common/common/js/form.js"></script><script defer="" type="text/javascript" src="../../../inst/Zhu/95/343169/index.js"></script>
</body>
</html>
