.zhuli-news {
  padding: 100px 0 80px;
}
.zhuli-news h3 {
  font-size: 60px;
  line-height: 1;
  color: var(--color-primary);
  text-align: center;
}
.zhuli-news h3 span {
  font-family: var(--font-family);
}

.zhuli-news ul {
  margin: 50px -30px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.zhuli-news ul li {
  width: 33.333333%;
  padding: 0 30px;
}
.zhuli-news ul li .box {
  cursor: pointer;
  position: relative;
}
.zhuli-news ul li .pic {
  display: block;
  overflow: hidden;
  width: 100%;
}
.zhuli-news ul li .pic img {
  width: 100%;
  display: block;
  transition: all 0.3s ease 0s;
}
.zhuli-news ul li .pic span {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 23px;
  width: 74px;
  height: 74px;
  padding: 14px 0 0;
  text-align: center;
  background: #22ac39;
  color: #000;
  font-size: 14px;
  display: block;
}
.zhuli-news ul li .pic span em {
  font-size: 24px;
  line-height: 1;
  display: block;
  margin-top: 2px;
}
.zhuli-news ul li .t {
  padding: 25px 40px;
  background: #e4eaf8;
  margin: -70px 22px 0;
  border-radius: 18px;
  position: relative;
  z-index: 20;
}
.zhuli-news ul li .t h5 {
  font-size: 24px;
}
.zhuli-news ul li .t h5 a {
  color: #000;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
}
.zhuli-news ul li .t p {
  font-size: 16px;
  color: #5c5c5c;
  margin: 15px 0 0;
  line-height: 24px;
  height: 72px;
  overflow: hidden;
}
.zhuli-news ul li .t .more {
  width: 200px;
  height: 40px;
  line-height: 40px;
  display: block;
  margin: 25px auto 0 0;
  background: var(--color-primary);
  border-radius: var(--button-radius);
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.zhuli-news ul li .t .more:hover {
  background: var(--color-second);
}

@media screen and (max-width: 1800px) {
  .zhuli-news h3 {
    font-size: 56px;
  }
}

@media screen and (max-width: 1700px) {
  .zhuli-news h3 {
    font-size: 54px;
  }
  .zhuli-news ul {
    margin: 40px -25px 0;
  }
  .zhuli-news ul li {
    padding: 0 25px;
  }
  .zhuli-news ul li .t {
    padding: 25px 25px;
  }
}

@media screen and (max-width: 1600px) {
  .zhuli-news h3 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1500px) {
  .zhuli-news h3 {
    font-size: 48px;
  }
}

@media screen and (max-width: 1441px) {
  .zhuli-news h3 {
    font-size: 46px;
  }
}

@media screen and (max-width: 1367px) {
  .zhuli-news h3 {
    font-size: 44px;
  }
}

@media screen and (max-width: 1281px) {
  .zhuli-news h3 {
    font-size: 40px;
  }
  .zhuli-news {
    padding: 70px 0 60px;
  }
  .zhuli-news ul li .t {
    padding: 20px 20px;
    margin: -50px 15px 0;
  }
  .zhuli-news ul li .t h5 {
    font-size: 20px;
  }
  .zhuli-news ul li .t p {
    font-size: 14px;
  }
  .zhuli-news ul li .t .more {
    width: 160px;
    height: 35px;
    line-height: 35px;
    margin: 25px auto 0 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .zhuli-news h3 {
    font-size: 26px;
  }

  .zhuli-news {
    padding: 30px 0 20px;
  }
  .zhuli-news ul {
    margin: 30px -15px 0;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .zhuli-news ul li {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .zhuli-news ul li .t {
    margin: -30px 15px 0;
    text-align: center;
  }
  .zhuli-news ul li .t h5 {
    font-size: 18px;
  }
  .zhuli-news ul li .t .more {
    font-size: 14px;
    margin: 25px auto 0;
  }
}

@media screen and (max-width: 480px) {
  .zhuli-news h3 {
    font-size: 22px;
  }
  .zhuli-news ul li {
    width: 100%;
    margin-bottom: 20px;
  }
}
