.zhuli-swiper2 {
  margin-top: -110px;
  padding: 70px 0;
  position: relative;
  z-index: 10;
}
.zhuli-swiper2::after {
  content: "";
  background: #fff;
  box-shadow: 0 0 38px rgba(4, 0, 0, 0.08);
  position: absolute;
  left: 0;
  top: 0;
  right: 8%;
  bottom: 0;
}

.zhuli-swiper2 .tit {
  text-align: center;
  position: relative;
  z-index: 10;
}
.zhuli-swiper2 .tit em.title {
  font-size: 30px;
  color: var(--color-primary);
}
.zhuli-swiper2 .tit h3 {
  font-size: 60px;
  line-height: 1;
  color: var(--title-text-color);
  font-weight: 400;
}
.zhuli-swiper2 .tit .desc em {
  font-style: italic;
}
.zhuli-swiper2 .list {
  margin: 70px 0 0;
  position: relative;
  z-index: 10;
}

.zhuli-swiper2 .swiper-slide {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.zhuli-swiper2 .swiper-slide .pic {
  width: 42.9%;
  display: block;
  border-radius: 18px;
  overflow: hidden;
}
.zhuli-swiper2 .swiper-slide .pic img {
  width: 100%;
}
.zhuli-swiper2 .swiper-slide .txt {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 20px 0 80px;
}
.zhuli-swiper2 .swiper-slide .txt h5 {
  font-size: 36px;
  color: #222;
}
.zhuli-swiper2 .swiper-slide .txt .t {
  margin: 50px 0 0;
}
.zhuli-swiper2 .swiper-slide .txt table {
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  color: #454545;
}
.zhuli-swiper2 .swiper-slide .txt table tbody > tr {
  width: 100%;
}
.zhuli-swiper2 .swiper-slide .txt table tr > th {
  padding: 5px 2px;
  display: inline-block;
  white-space: nowrap;
  width: 20%;
}
.zhuli-swiper2 .swiper-slide .txt table tr > td {
  padding: 5px 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30%;
  display: inline-block;
  white-space: nowrap;
}

.zhuli-swiper2 .swiper-pagination-bullets {
  left: calc(42.9% + 80px);
  bottom: -20px;
  width: auto;
  font-size: 0;
}
.zhuli-swiper2 .swiper-pagination-bullets .swiper-pagination-bullet {
  height: 20px;
  width: 20px;
  margin: 0 10px 0 0;
  background: #bde6c3;
  border-radius: 50%;
  opacity: 1;
}
.zhuli-swiper2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-primary);
}

.zhuli-swiper2 h3 ul {
  list-style-position:inside !important;
  list-style-type: disc;
}

.zhuli-swiper2 h3 ol {
  list-style-position:inside !important;
  list-style-type: decimal;
}

@media screen and (max-width: 1800px) {
  .zhuli-swiper2 .tit h3 {
    font-size: 56px;
  }
}

@media screen and (max-width: 1700px) {
  .zhuli-swiper2 .tit h3 {
    font-size: 54px;
  }
  .zhuli-swiper2::after {
    right: 6%;
  }
  .zhuli-swiper2 .swiper-slide .txt {
    padding: 0 20px 0 60px;
  }
  .zhuli-swiper2 .swiper-slide .txt table {
    font-size: 17px;
  }
}

@media screen and (max-width: 1600px) {
  .zhuli-swiper2 .tit h3 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1500px) {
  .zhuli-swiper2 .tit h3 {
    font-size: 48px;
  }
  .zhuli-swiper2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1441px) {
  .zhuli-swiper2 .tit h3 {
    font-size: 46px;
  }
}

@media screen and (max-width: 1367px) {
  .zhuli-swiper2 .tit h3 {
    font-size: 44px;
  }
}

@media screen and (max-width: 1281px) {
  .zhuli-swiper2 .tit h3 {
    font-size: 40px;
  }
  .zhuli-swiper2 .swiper-slide .pic {
    width: 40%;
  }
  .zhuli-swiper2 .swiper-slide .txt {
    padding: 0 20px 0 40px;
  }
  .zhuli-swiper2 .swiper-slide .txt h5 {
    font-size: 30px;
  }
  .zhuli-swiper2 .swiper-slide .txt table {
    font-size: 15px;
  }
  .zhuli-swiper2 .swiper-pagination-bullets .swiper-pagination-bullet {
    height: 14px;
    width: 14px;
  }
}

@media screen and (max-width: 768px) {
  .zhuli-swiper2 .tit h3 {
    font-size: 26px;
  }

  .zhuli-swiper2 {
    padding: 30px 0 50px;
    margin-top: 0;
  }
  .zhuli-swiper2::after {
    right: 0;
  }
  .zhuli-swiper2 .tit {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .zhuli-swiper2 .tit p {
    font-size: 17px;
    margin: 15px 0 0;
  }
  .zhuli-swiper2 .tit .more {
    font-size: 17px;
    width: auto;
    text-align: center;
    margin: 15px 0 0;
  }

  .zhuli-swiper2 .list {
    margin: 25px 0 0;
  }
  .zhuli-swiper2 .swiper-slide {
    display: block;
  }
  .zhuli-swiper2 .swiper-slide .pic {
    width: 60%;
    margin: 0 auto;
  }
  .zhuli-swiper2 .swiper-slide .txt {
    padding: 0 20px;
    margin-top: 20px;
  }
  .zhuli-swiper2 .swiper-slide .txt h5 {
    font-size: 24px;
  }
  .zhuli-swiper2 .swiper-slide .txt .t {
    margin: 20px 0 0;
  }
  .zhuli-swiper2 .swiper-slide .txt table {
    font-size: 14px;
  }
  .zhuli-swiper2 .swiper-pagination-bullets {
    left: calc(50% - 36px);
    bottom: -30px;
    width: auto;
    font-size: 0;
  }
  .zhuli-swiper2 .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
  }
}

@media screen and (max-width: 480px) {
  .zhuli-swiper2 .tit h3 {
    font-size: 22px;
  }
  .zhuli-swiper2 .tit em.title {
    font-size: 20px;
  }
  .zhuli-swiper2 .swiper-slide .pic {
    width: 100%;
  }
  .zhuli-swiper2 .swiper-slide .txt table {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .zhuli-swiper2 .swiper-slide .txt {
    padding: 0;
  }
}
